In [75]:
#print my name
print("Baron")

Baron

In [76]:
#Variable assignments
number_1 = 24
number_2 = 35
my_name = "Kristofferson"

print(number_1)
print(number_2)

24
35

In [77]:
#Multiply numbwer 1 and number 2
product = number_1 * number_2
print(number_1,"*",number_2,"=",product)
print(f'{number_1} * {number_2} = {product}')

24 * 35 = 840
24 * 35 = 840

In [78]:
#Create a list of numbers
housing_prices = [124, 77.4, 93, 32, 47]

for index in range(len(housing_prices)):
    print(housing_prices[index])

124
77.4
93
32
47